* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  text-align: center;
}
.roundsContainer {
  color: white;
  border: 2px solid white;
  padding: 2em;
  margin-top: 1rem;
}
.rounds {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  height: 44px;
}
input {
  margin-top: 2em;
}

label {
  margin-right: 1em;
}

.score {
  color: white;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 2px solid white;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  height: 230px;
  width: 360px;
}

.container {
  padding: 0.8em;
  font-size: 14px;
  text-align: center;
  width: 112px;
}

.scores {
  width: 50px;
  text-align: center;
}

.circle {
  border: 2px solid white;
  padding: 1.5em;
  border-radius: 50%;
  margin: 1em;
}

.game {
  display: flex;
  font-size: 16px;
}

.numberOfRounds {
  text-align: center;
  padding-top: 27px;
  height: 44px;
  display: none;
}

p#you,
p#comp {
  width: 17px;
  height: 17px;
}
